.navber-list-container li:hover{
    cursor: pointer;
    background-color: #1d1d;
    color: white;
}
.navber-list-container li{
    padding: 4px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
}

.banner-img{
    background-image: url('../../Images/Sally-et-al.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
}



@media screen and (max-width: 550px) {
    .banner-img{
        background-size: cover;
    }
}

