.navber-list-container li:hover{
    cursor: pointer;
    background-color: #1d1d;
    color: white;
}
.navber-list-container li{
    padding: 4px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
}

.banner-img{
    background-image: url('../../Images/Sally-et-al.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
}



#tooltip {
    position: relative;
    display: inline-block;
}

#tooltipText{
    position: absolute;
    text-align: center;
    top: 0%;
    left: 38.7%;
    border: 2px solid blue;
}


@media screen and (max-width: 550px) {
    .banner-img{
        background-size: cover;
    }
}

